<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedong.mapper.firenze.custom.MyIouUserRecordAwardMapper">
    <select id="selectSltNumGroupbyScene" resultType="map">
      select award_scene as scene,
      sum(amount) as amount
      from iou_user_record_award
      GROUP BY award_scene
    </select>
</mapper>